*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

body{
    
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1980' height='1080' preserveAspectRatio='none' viewBox='0 0 1980 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1197%26quot%3b)' fill='none'%3e%3crect width='1980' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient1198)'%3e%3c/rect%3e%3cpath d='M1980 0L1165.62 0L1980 40.42z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1165.62 0L1980 40.42L1980 579.8L1023.6399999999999 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M1023.64 0L1980 579.8L1980 715.1899999999999L390.53999999999996 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M390.53999999999996 0L1980 715.1899999999999L1980 778.65L165.12999999999997 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 1080L524.04 1080L0 823.1z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 823.1L524.04 1080L906.74 1080L0 696.2z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 696.2L906.74 1080L1266.57 1080L0 387.81000000000006z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 387.81000000000006L1266.57 1080L1772.29 1080L0 224.39000000000007z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1197'%3e%3crect width='1980' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='11.36%25' y1='-20.83%25' x2='88.64%25' y2='120.83%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1198'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.2'%3e%3c/stop%3e%3cstop stop-color='rgba(214%2c 40%2c 40%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
    background-color: #171717;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
  
}


.container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.5fr 1fr 0.2fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "navbar navbar navbar"
      "main1 main1 main1"
      "main2 main22 main22"
      "main3 main33 main33"
      "main4 main44 main44"      
      "footer1 footer1 footer1"
      "footer11 footer11 footer11";
  }
  
  .navbar { grid-area: navbar;}
  
  .main1 { grid-area: main1;
    display: grid;
    background-image: url(../img/disco-vinilo-aspecto-vintage.jpg);
    background-size: 100%;  
    background-repeat: no-repeat;
    place-items: center;
    justify-content: center;
    align-content: center;
    
}
  .main2 { grid-area: main2; 
    background-color: #17171798;
    margin-top: 20px;
    align-content: center;
}

  .main22 { grid-area: main22;
    background-color: #17171798;
    border-radius: 0 10px 10px 0;
    margin-top: 20px;
    display: grid;
    
}
  
  .main3 { grid-area: main3;
    background-color: #17171798;
    margin-top: 20px;
    align-content: center;
}

  .main33 { grid-area: main33; 
    background-color: #17171798;
    border-radius: 0 10px 10px 0;
    margin-top: 20px;
    display: grid;
}
 
  .main4 { grid-area: main4; 
    background-color: #17171798;
    margin-top: 20px;
    align-content: center;
}
  .main44 { grid-area: main44; 
    background-color: #17171798;
    border-radius: 0 10px 10px 0;
    margin-top: 20px;
    display: grid;
}

 
  .footer1 { grid-area: footer1; 
    background-color: #17171798;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    border-radius: 10px 10px 0 0;
}

  .footer11 { grid-area: footer11; 
    background-color: #17171798;    
    display: grid;    
    place-items: center;
}    


#logo{
    width: 200px;
    margin: 0 530px 0 0;
    
}



.title{
    font-weight: 900;
    font-size: 9rem;
    margin: 20px;
    text-align: center;
        
}

.subtitle{
    margin-left: 10px;
    margin-top: 10px;
}
.content{
    margin-left: 10px;
}

.link {
    text-decoration: none;
    color: #d62828;
}

.main--img{
    width: 350px;
    margin: 5px;
}

button{
    display: inline-block;
    background-color: #0000001e;    
    border-radius: 5px;
    padding: 10px;
    justify-self: center;
    margin: 10px;
    border: 0px #ffffff;
     
}     
button:hover{
    
    background-color: #ffffff85;
    color: #00000070;
}
button:active{
    background-color: #ffffff;
    color: black;
}
.button--main22{
    
    background-color: #00000056;    

}

.social{
    height: 30px;
    width: 30px;
    margin: 10px;
    align-self: center;
}

.footer11--logo{
    width: 200px;
    align-self: center;      
}
  

.playlist img{
    height: 100px;
    width: 100px;
    margin: 10px 10px;       
}

.playlist{
    height: 110px;
    width: 110px;
    margin: auto auto;
    position: fixed;
    bottom: 40px;
    right: 40px;
}

@media screen and (max-width:768px) {
    .container{
        display: grid;
        grid-template-columns: repeat (1, auto);
        grid-template-rows: repeat (10, auto);
        grid-template-areas: "navbar"
                        "main1"
                        "main22" 
                        "main2"
                        "main33" 
                        "main3"
                        "main44"
                        "main4"
                        "footer1" 
                        "footer11";
  
    }
    
        .main1 { grid-area: main1;
        display: grid;        
        background-image: url(../img/disco-vinilo-aspecto-vintage.jpg);
        background-size: 100%;  
        background-repeat: no-repeat;
        place-items: center;
        justify-content: center;
        align-content: center;
        
    }    
        .main2 { grid-area: main2;
            display: grid; 
            background-size: 100%;
            align-content: center;
            justify-content: center;
            text-align: center;
    }
    
        .main22 { grid-area: main22;
            background-size: 100%;
            display: grid;
            justify-content: space-around;
            place-items: center;
    }
        .main3 { grid-area: main3;
        display: grid; 
        background-size: 100%;
        align-content: center;
        justify-content: center;
        text-align: center;
    }

        .main33 { grid-area: main33;
        background-size: 100%;
        display: grid;
        justify-content: space-around;
        place-items: center;
    }
        .main4 { grid-area: main4;
        display: grid; 
        background-size: 100%;
        align-content: center;
        justify-content: center;
        text-align: center;
    }

        .main44 { grid-area: main44;
        background-size: 100%;
        display: grid;
        justify-content: space-around;
        place-items: center;
    }
                 
        .link{
            font-weight: 900;
            font-size: 4rem;
            text-align: center;
            
            
        }
        .title--main2{
            font-weight: 900;
            font-size: 7rem;
            color: #d62828;  
        
    }    
    
    
  }
  
  @media screen and (max-width:320px) {
    .container{
        display: grid;
        grid-template-columns: repeat (1, auto);
        grid-template-rows: repeat (10, auto);
        grid-template-areas: "navbar"
                        "main1"
                        "main22" 
                        "main2"
                        "main33" 
                        "main3"
                        "main44"
                        "main4"
                        "footer1" 
                        "footer11";
  
    }
    
        .main1 { grid-area: main1;
        display: grid;        
        background-image: url(../img/disco-vinilo-aspecto-vintage.jpg);
        background-size: 100%;  
        background-repeat: no-repeat;
        place-items: center;
        justify-content: center;
        align-content: center;
    }    
        .main2 { grid-area: main2;
            display: grid; 
            background-size: 100%;
            align-content: center;
            justify-content: center;
            text-align: center;
            
            
            
    }
    
        .main22 { grid-area: main22;
            background-size: 100%;
            display: grid;
            justify-content: space-around;
            place-items: center;
            width: auto;
            height: auto;
    }
      
    
        .title{
            font-weight: 900;
            font-size: 4rem;
            text-align: center;
            
            
    }
        .title--main2{
            font-weight: 900;
            font-size: 4rem;
            color: #d62828;  
        
    }    
    
    
  }