<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Jazz Guide</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../CSS/style.css">    
    <link rel="icon" type="image/icon" href="../img/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="../index.html"> <img class="logo" src="../img/logo.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menu">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
            <a class="nav-link" href="../index.html">Home</a></li>
            <li class="nav-item">
              <a class="nav-link" href="../Views/recordoftheday.html">Record of the day</a></li>
            <li class="nav-item">
              <a class="nav-link" href="../Views/products.html">Products</a></li>
          </ul>
          <ul class="navbar-nav flex-row flex-wrap text-light">
            <li class="nav-item col-6 col-md-auto p-3">
              <a class="link" href="http://www.facebook.com"><i class="bi bi-facebook"></i>
              <small class="d-md-none ms-2">Facebook</small></a>
            </li>
            <li class="nav-item col-6 col-md-auto p-3">
              <a class="link" href="http://www.instagram.com"><i class="bi bi-instagram"></i>
              <small class="d-md-none ms-2">Instagram</small></a>
            </li>
            <li class="nav-item col-6 col-md-auto p-3">
              <a class="link" href="http://www.youtube.com"><i class="bi bi-youtube"></i>
              <small class="d-md-none ms-2">YouTube</small></a>
            </li>
            <li class="nav-item col-6 col-md-auto p-3">
              <a class="link" href="http://www.spotify.com"><i class="bi bi-spotify"></i>
              <small class="d-md-none ms-2">Spotify</small></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
        <div id="carouselExampleCaptions" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>              
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../img/man-music2.jpg" class="d-block w-100 h-40" alt="Man listening to music">
              <div class="carousel-caption top-0 mt-4 d-none d-md-block">
                <h1 class="title mt-8 fs-1 fs-1 text-uppercase">Check our products!</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde magni rem quisquam neque sint consequatur perspiciatis, animi magnam, earum labore est vitae iste voluptatem sit eaque. Tempore, exercitationem laboriosam pariatur repellat sapiente ex. Quasi error quod inventore ullam delectus exercitationem. Reprehenderit nulla soluta voluptate, labore est quis at hic aliquid.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="../img/woman-music2.jpg" class="d-block w-100 h-60" alt="Woman listening to music">
              <div class="carousel-caption top-0 mt-4 d-none d-md-block">
                <h1 class="title mt-8 fs-1 fs-1 text-uppercase">Check our products!</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium voluptatibus architecto asperiores quibusdam aperiam omnis excepturi quis repudiandae doloremque ab. Dignissimos, atque numquam. Voluptatum distinctio officia illo sit nostrum tempore quia accusamus! Est, minus! Magni sed obcaecati porro odio unde modi, fuga eveniet provident at, voluptates numquam, dolore explicabo incidunt!</p>
              </div>
            </div>
          </div>
        </div>                    
      </div>      
    </div>

    <div class="row mt-5 justify-content-evenly" data-aos="zoom-in-right">
      <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6">
        <div class="card text-bg-dark mb-3" >
          <img src="../img/t-shirt.logo1.png" class="card-img-top" alt="Coral T-Shirt">
          <div class="card-body">
            <h5 class="card-title">The Jazz Guide - Coral T-shirt</h5>
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque provident quas reprehenderit perspiciatis quaerat ipsum suscipit sapiente placeat dicta. Temporibus!</p>
            <h4 class="card-title">$15.00</h4>
          </div>
        </div>
      </div>  
      <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6" data-aos="zoom-in-left">
        <div class="card text-bg-dark mb-3" >
          <img src="../img/t-shirt.logo2.png" class="card-img-top" alt="Black T-Shirt">
          <div class="card-body">
            <h5 class="card-title">The Jazz Guide - Black T-shirt</h5>
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque provident quas reprehenderit perspiciatis quaerat ipsum suscipit sapiente placeat dicta. Temporibus!</p>
            <h4 class="card-title">$15.00</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6" data-aos="zoom-in-right">
        <div class="card text-bg-dark mb-3" >
          <img src="../img/t-shirt.logo3.png" class="card-img-top" alt="Mustard T-Shirt">
          <div class="card-body">
            <h5 class="card-title">The Jazz Guide - Mustard T-shirt</h5>
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque provident quas reprehenderit perspiciatis quaerat ipsum suscipit sapiente placeat dicta. Temporibus!</p>
            <h4 class="card-title">$15.00</h4>
          </div>
        </div>
      </div>  
      <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6" data-aos="zoom-in-left">
        <div class="card text-bg-dark mb-3" >
          <img src="../img/plate-logo.png" class="card-img-top" alt="White Plate">
          <div class="card-body">
            <h5 class="card-title">The Jazz Guide - Plate</h5>
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque provident quas reprehenderit perspiciatis quaerat ipsum suscipit sapiente placeat dicta. Temporibus!</p>
            <h4 class="card-title">$15.00</h4>
          </div>
        </div>
      </div>  
      
      
    </div>
    <div class="row footer">
      <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12 text-center">
        <p>Copyright 2023 by Federico M. Stempler. All Rights Reserved.</p>
        <img class="logo" src="../img/logo.png" alt="logo">
      </div>  
    
  </div>
  <div class="playlist">
    <a href="https://open.spotify.com/playlist/024HpjkL7tDVpqjrD9Z7rY?si=3172b03220ed4966"><img src="../img/spotify-pl.png"></a>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>