<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Jazz Guide</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../CSS/style.css">    
    <link rel="icon" type="image/icon" href="../img/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html"> <img class="logo" src="../img/logo.png"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
              <a class="nav-link" href="../index.html">Home</a></li>
              <li class="nav-item">
                <a class="nav-link" href="../Views/recordoftheday.html">Record of the day</a></li>
              <li class="nav-item">
                <a class="nav-link" href="../Views/products.html">Products</a></li>
            </ul>
            <ul class="navbar-nav flex-row flex-wrap text-light">
              <li class="nav-item col-6 col-md-auto p-3">
                <a class="link" href="http://www.facebook.com"><i class="bi bi-facebook"></i>
                <small class="d-md-none ms-2">Facebook</small></a>
              </li>
              <li class="nav-item col-6 col-md-auto p-3">
                <a class="link" href="http://www.instagram.com"><i class="bi bi-instagram"></i>
                <small class="d-md-none ms-2">Instagram</small></a>
              </li>
              <li class="nav-item col-6 col-md-auto p-3">
                <a class="link" href="http://www.youtube.com"><i class="bi bi-youtube"></i>
                <small class="d-md-none ms-2">YouTube</small></a>
              </li>
              <li class="nav-item col-6 col-md-auto p-3">
                <a class="link" href="http://www.spotify.com"><i class="bi bi-spotify"></i>
                <small class="d-md-none ms-2">Spotify</small></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12 text-center main1">
            <a class="link main1--link" href="./Views/recordoftheday.html"><h1 class="title main1--title">RECORD OF THE DAY</h1></a>
          </div>
        </div> 
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-lg-4 col-xl-4 text-left main2">
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/0I8vpSE1bSmysN2PhmHoQg?utm_source=generator" width="100%" height="351.5" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
          </div>
          <div class="col-xs-12 col-sm-12 col-lg-8 col-xl-8 text-left main22">
            <h4 class="subtitle">Keith Jarret - The Köln Concert</h4>
            <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat sit enim modi! Excepturi amet eveniet, sit delectus similique blanditiis dolorum, quasi qui ex assumenda tempore maiores doloribus quos a dolorem quae iusto quibusdam pariatur consequatur aut itaque! Ipsam, perferendis nemo, quasi in autem doloribus, doloremque dolor officiis eveniet neque corporis! Aliquid enim deleniti accusantium numquam necessitatibus debitis laudantium? Suscipit illo inventore nemo adipisci ex. Corrupti eum quaerat, accusantium laborum facere esse earum adipisci sed voluptatibus id. In, rerum facere veritatis deserunt alias placeat at quibusdam incidunt laborum, eos porro quo debitis ex reprehenderit, ipsum accusantium ratione et. Dolores, mollitia illum!</p>  
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-4 col-xl-4">
              <iframe class="player" style="border-radius:12px" src="https://open.spotify.com/embed/album/4G7Ieq0qLf4mvx4pdNr12T?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-4 col-xl-4">
              <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/3Wu0chxAm4GxSeRnIIf2Om?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-4 col-xl-4">
              <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/5PzlTnVafjgt5RtjTdIKoC?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-4 col-xl-4">
              <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/7GDnn7XSLCIjZkBkw0SMZd?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-4 col-xl-4">
              <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/6bnEiLE5eOj42d7usx5qVs?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-4 col-xl-4">
              <iframe st  yle="border-radius:12px" src="https://open.spotify.com/embed/album/2RC7dHOstbWesi1yHkYFfU?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
          </div>
      </div>


        <div class="row footer">
          <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12 text-center">
            <p>Copyright 2023 by Federico M. Stempler. All Rights Reserved.</p>
            <img class="logo" src="../img/logo.png" alt="logo">
          </div>  
        
      </div>
    </div>  
    <div class="playlist">
        <a href="https://open.spotify.com/playlist/024HpjkL7tDVpqjrD9Z7rY?si=3172b03220ed4966"><img src="../img/spotify-pl.png"></a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>